@model Models.ProductModel

<div class="container mt-5">
    <div class="row">
        <div class="col-md-6">
            <img src="data:image/jpeg;base64,@Model.Image" class="img-fluid" alt="@Model.Name" />
        </div>
        <div class="col-md-6">
            <h2 class="text-center">@Model.Name</h1>
                <h3>Price: @Math.Round(@Model.Price, 2)</h3>
                <p><strong>Thể loại:</strong>@Model.CategoryName</p>
                <p><strong>Stock:</strong> @Model.Stock</p>

        </div>
    </div>

    <p> @Model.Description</p>
    <a href="@Url.Action("Index", "Products")" class="btn btn-secondary">Back to Products</a>

</div>
