@model IEnumerable<Models.OrderModel>
@{
    ViewData["Title"] = "Quản lý đơn đặt hàng";
}

<h2>các đơn đặt hàng</h2>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Mã đơn hàng</th>
            <th>Ngày đặt</th>

            <th>Tổng</th>
            <th>Số lượng</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var order in Model)
        {
            <tr>
                <td>@order.Id</td>
                <td>@order.OrderDate.ToString("dd/MM/yyyy")</td>

                <td>@order.TotalPrice</td>
                <td>
                    @order.OrderItems.Count()
                </td>
                <td><a asp-action="Detail" asp-route-id="@order.Id">Xem chi tiết</a></td>
            </tr>
        }
    </tbody>
</table>
